* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(193, 104, 104);
}
nav {
    height: 6vh;
    display: flex;
    background-color: rgb(148, 80, 80);
    justify-content: center;
}
ol {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}
li {
    color: white;
    font-size: 1rem;
    font-family: sans-serif;
    cursor: pointer;
}
li:hover {
    transition: all ease-in-out 850ms;
    background-color: rgb(157, 141, 141);
}
/* li:hover {
    background-color: black;
} */
/* li::after {
    transition: all ease-in-out 5s;
    background-color: black;
} */
h1 {
    background-color: rgb(163, 233, 194);
}